/* MY HACKS */

/* HTML BACKGROUND OF 'BOTTOM OF SITE' HACK */
body.body {background: #000; }


#header h1, #header h1 a { margin-left: 130px; }
a.logo {margin-left: 260px; }

#layout-box-44 .add-to-cart a {display: block; margin: 0 auto; } /* BESTSELLERS */
#layout-box-50 .add-to-cart a {display: block; margin: 0 auto; } /* GRID LIST */
.add-to-cart a {background-color: #08689c; border-bottom: 1px #002e47 solid; }
#add-cart {background-color: #08689c!important; background-image: none!important; }
.toCart #add-cart {width: 78px!important; }


.price {color: #08689c!important; }
.promotion-time-left {color: #08689c!important; }

/* PROMO BOX */
#layout-box-83 .product-list li {width: 184px; }

#print a {color: #08689c!important; }


/* TABS */
#productTabs {border-top-color: #E7E7E7; border-left-color: #E7E7E7; border-right-color: #E7E7E7; border-bottom-color: #E7E7E7; }
#productTabs .ui-state-active a {color: #08689c!important; } 
.ui-state-active a {color: #08689c!important; }


/* CATEGORIES MENU HACKS */
.layout-box-type-categorymenu .layout-box-content > ul > li:hover > a {font-weight: normal!important; }
.layout-box-type-categorymenu .layout-box-content > ul > li.active > a {font-weight: 700!important; }

.layout-box-type-categorymenu .layout-box-content ul > li:hover > a {background: #EDEDED!important; }
.layout-box-type-categorymenu .layout-box-content > ul > li.active, .layout-box-type-categorymenu .layout-box-content > ul > li:hover {background: #EDEDED!important; }

.layout-box-type-categorymenu .layout-box-content > ul > li > .submenu {
    width: 172px!important; 
    margin-left: 8px!important; 
    z-index: 999!important;
    display: none;
    position: relative!important;
}

.submenu-x {display: none; margin-left: 15px; padding-left: 10px; }
.submenu-x ul {list-style: circle; }


#breadcrumbs strong {color: #fff; }


/* FOOTER */
.copyright {border-top: solid 1px #5AA9D1; color: #fff; }

/* PRODUCERS LIST */
#layout-box-81 .field-select span.field {width: 135px; }

/* HORIZONTAL MENU */
#horizontal-navigation ul li > ul {display: none!important; } 


/* SOCIAL ICONS AT THE BOTTOM OF BOXES */
#layout-box-98 .layout-box-content {background: none; padding: 0; }

/* Products LIST_LONG hover effect */
#layout-box-50 .list-long > :hover, 
#layout-box-62 .list-long > :hover {
	background-image: linear-gradient(left , rgb(255,255,255) 47%, rgb(222,243,255) 100%);
	background-image: -o-linear-gradient(left , rgb(255,255,255) 47%, rgb(222,243,255) 100%);
	background-image: -moz-linear-gradient(left , rgb(255,255,255) 47%, rgb(222,243,255) 100%);
	background-image: -webkit-linear-gradient(left , rgb(255,255,255) 47%, rgb(222,243,255) 100%);
	background-image: -ms-linear-gradient(left , rgb(255,255,255) 47%, rgb(222,243,255) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0.47, rgb(255,255,255)),
		color-stop(1, rgb(222,243,255))
	);
}




